<integrations>
    <integration name="ImpactIntegration">
       <email>elias.orozco@koombea.com</email>
       <endpoint_url>https://saasler-magento-impact.herokuapp.com/auth/magento/callback</endpoint_url>
       <identity_link_url>https://saasler-magento-impact.herokuapp.com/sessions/new</identity_link_url>
    </integration>
 </integrations>