<?xml version="1.0"?>
<!--
/**
 * @author Impact
 * @package Impact_Integration
 */
-->
<integrations>
    <integration name="ImpactIntegration">
       <email>techpartners@impact.com</email>
       <endpoint_url>https://magento-integration.impact.com/auth/magento/callback</endpoint_url>
       <identity_link_url>https://magento-integration.impact.com/sessions/new</identity_link_url>
    </integration>
 </integrations>