<?xml version="1.0"?>
<!--
/**
 * @author Impact
 * @package Impact_Integration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <impact_integration>
            <general>
                <enabled>1</enabled>
            </general>
        </impact_integration>
    </default>
</config>