<?xml version="1.0"?>
<!--
/**
 * @author Impact
 * @package Impact_Integration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Impact_Integration" setup_version="2.2.12">
        <sequence>
            <module name="Magento_Integration"/>
        </sequence>
    </module>
</config>
