<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * @author Impact
 * @package Impact_Integration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="admin_system_config_changed_section_impact_integration">
        <observer name="custom_admin_system_config_changed_section_impact_integration" instance="impact_tech\module-magento-integration\Observer\ConfigChange"/>
    </event>
    <event name="sales_order_creditmemo_refund">
        <observer name="webpos_sales_order_creditmemo_refund" instance="impact_tech\module-magento-integration\Observer\SalesOrderCreditmemoRefund" />
    </event>
</config>