<?xml version="1.0"?>
<!--
/**
 * @author Impact
 * @package Impact_Integration
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="impact_integration" frontName="impact_integration">
            <module name="Impact_Integration"/>
        </route>
    </router>
</config>
