<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
     <system>
         <tab id="impact" translate="label" sortOrder="100">
            <label>Impact</label>
        </tab>

        <!-- tab -->
         <section id="impact_integration" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Impact Settings </label>
            <tab>impact</tab>
            <resource>Impact_Integration::Impact_Integration</resource>
            <group id="existing_customer" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label> Existing Customer </label>
                <frontend_model>Impact\Integration\Block\System\Config\NewPage</frontend_model>
            </group>
        </section>
     </system>
</config>